{% extends "base.html" %}
{% load i18n %}
{% url 'intro-maint' as 'url_intro_maintainers' %}
{% url 'sponsors' as 'url_sponsors' %}

{% block content %}
<h1>
    {% blocktrans with name=settings.SITE_NAME trimmed %}
    Welcome to {{ name }}
    {% endblocktrans %}
</h1>

<p>
    {% blocktrans trimmed %}
    Only approved members of the Debian project (Debian Developers) are granted
    the permission to upload software packages into the Debian distribution.
    Still a large number of packages is maintained by non-official developers.
    How do they get their work into Debian when they are not allowed to upload
    their own packages directly? By means of a process called
    <em>sponsorship</em>. Sponsorship means that a Debian Developer uploads the
    package on behalf of the actual maintainer. The Debian Developer will also
    check the package for technical correctness and help the maintainer to
    improve the package if necessary. Therefore the sponsor is sometimes also
    called a mentor.
    {% endblocktrans %}
</p>

<p>
    {% blocktrans trimmed %}
    Note, not only Debian Developer are allowed to review packages. Everyone is
    encouraged to review packages! We appreciate your efforts as well.
    {% endblocktrans %}
</p>

<h2>{% trans 'Getting your package into Debian' %}</h2>

<p>
    {% blocktrans with u_intro_maintainers=url_intro_maintainers u_sponsors=url_sponsors name=settings.SITE_NAME trimmed %}
    See <a href="{{ u_intro_maintainers }}">our introductory page for
    maintainers</a> and learn how to use {{ name }} and get your packages
    into Debian. Furthermore see <a href="{{ u_sponsors }}">our introductory
    page on sponsorship</a> to learn how to get in touch with a sponsor.
    {% endblocktrans %}
</p>

<p>
    {% blocktrans trimmed %}
    If you are curious about <em>Debexpo</em>, the software which is running
    this site, you can <a href="https://wiki.debian.org/Debexpo">read more about
    Debexpo on the Debian Wiki</a>.
    {% endblocktrans %}
</p>

<h1>{% trans 'Recently uploaded packages' %}</h1>

{% include "packages-list.html" %}
{% endblock %}
