{% extends "base.html" %}{% load i18n %}

{% block content %}
<h1>{% trans 'Password recovery' %}</h1>

    <p>{% blocktrans trimmed %}If you forgot your password, here is what we can
    do for you.{% endblocktrans %}</p>

    <ol>
        <li>{% blocktrans trimmed %}You should fill out this
            form.{% endblocktrans %}</li>
        <li>{% blocktrans trimmed %}You will get an email with a link. Click the
            link.{% endblocktrans %}</li>
        <li>{% blocktrans trimmed %}Then the web app will allow you to change
            your password.{% endblocktrans %}</li>
    </ol>

    <p>{% blocktrans trimmed %}Not super hard. If you're ready,
    I'm ready.{% endblocktrans %}</p>

    <form method="post">
        {% csrf_token %}
        <table id="form">
        {{ form }}
        </table>
        <input id="commit" name="commit" type="submit"
               value="{% trans 'Submit' %}">
    </form>

</table>
{% endblock %}
