{% extends "base.html" %}{% load i18n %}{% block content %}
<h1>{% trans 'My account' %}</h1>

<fieldset>
    <strong><legend>{% trans 'Change details' %}</legend></strong>

    <form method="post">
        {% csrf_token %}
        <table id="form">
            {{ account_form }}
        </table>
        <input id="commit_account" name="commit_account" type="submit"
               value="{% trans 'Submit' %}">
    </form>
</fieldset>
<hr />
{% comment %}
<fieldset>
  <strong><legend>{% trans 'Change GPG key' %}</legend></strong>

    <form method="post">
        {% csrf_token %}
        <table id="form">
            <tr>
                <th>Fingerprint:</th>
                <td>{{ gpg_fingerprint }}</td>
            </tr>
            {{ gpg_form }}
            <tr>
                <td colspan="2">{% blocktrans trimmed %}
                    Please use the output of <tt>gpg --export --export-options
                    export-minimal --armor <i>keyid</i></tt>{% endblocktrans %}
                </td>
            </tr>
        </table>
        <input id="commit_gpg" name="commit_gpg" type="submit"
               value="{% trans 'Submit' %}">
    </form>
</fieldset>
<hr />
{% endcomment %}
<fieldset>
  <strong><legend>{% trans 'Change password' %}</legend></strong>

    <form method="post">
        {% csrf_token %}
        <table id="form">
            {{ password_form }}
        </table>
        <input id="commit_password" name="commit_password" type="submit"
               value="{% trans 'Submit' %}">
    </form>
</fieldset>
<hr />
<fieldset>
  <strong><legend>{% trans 'Change other details' %}</legend></strong>

    <form method="post">
        {% csrf_token %}
        <table id="form">
            {{ profile_form }}
        </table>
        <input id="commit_profile" name="commit_profile" type="submit"
               value="{% trans 'Submit' %}">
    </form>
</fieldset>
{% if sponsor_form %}
<hr />
<fieldset>
    <strong><legend>{% trans 'Public sponsor info' %}</legend></strong>

    <form method="post">
        {% csrf_token %}
        <table id="form">
            {{ sponsor_form }}
        </table>
        <input id="commit_sponsor" name="commit_sponsor" type="submit"
                                         value="{% trans 'Submit' %}">
    </form>
</fieldset>
{% endif %}{% endblock %}
