Source: this-package-should-not-exist
Section: utils
Priority: optional
Maintainer: Vincent TIME <vtime@example.org>
Build-Depends: debhelper (>= 11)
Standards-Version: 4.1.3
Homepage: https://example.org

Package: this-package-should-not-exist
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Test package for debexpo
 Unfortunatly, a too short description
